/* .todo-list {
    display: grid;
    list-style: none;
    padding-top: 5px;
    align-items: start;
    grid-template-rows: repeat(auto-fill, 75px);
    gap: 2em;
    overflow-y: auto;
    scrollbar-width: thin;
    overflow-x: auto;
    max-height: 100%;
    min-height: 0;
}

.todo-list>li>div {
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    padding: 0 1em;
    background-color: var(--background-main);
    flex-grow: 1;
}

.todo-list>li {
    display: flex;
    align-items: center;
    gap: 2em;
} */