.user-activities-list {
    padding: 5px 0 0 0;
    grid-template-rows: repeat(auto-fill, 2em);
}

.user-activities {
    height: 100%;
    min-height: 0;
}

.user-activity {
    padding: .5em;
    display: flex;
    justify-content: space-between;
}

.user-details {
    display: flex;
    height: 100%;
    min-height: 0;
}

.user-details>section {
    flex-grow: 1;
}