:root {
  --clr1: rgb(96, 107, 91);
  --clr2: rgb(120, 99, 110);

  --clr1bg: rgb(153, 166, 149);
  --clr1bg-light: rgb(205, 221, 200);
  --clr2bg: rgb(233, 206, 221);
  --clr2bg-light: rgb(253, 236, 246);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(155, 155, 155);
  --gray3: rgb(44, 44, 44);


  /* Primary Colors */
  --primary-light: #6161FF;
  --primary-dark: #181B34;

  --background-main: #FFFFFF;
  --background-secondary: #F0F3FF;

  --supportive-green: #00CA72;
  --supportive-yellow: #FFCC00;
  --supportive-red: #FB275D;
  --supportive-green-darker: #00a45d;
  --supportive-yellow-darker: #e1b400;
  --supportive-red-darker: #cf1e4a;
}